{% load group_tags %}
<nav class="navbar navbar-light navbar-expand-md bg-white shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">{{ HOST }}</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end"
             id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                {% if not request.user.is_anonymous %}
                    <li class="nav-item">{{ request.user.email }}</li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ request|get_dashboard_url }}">Dashboard</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Signup/Login</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="https://www.youtube.com/@darefail">How To (Youtube)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/darefailed">Me (Twitter)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
