boto3
celery
celery[redis]
channels
channels-redis
daphne
delete-your-pdf
Django
django-allauth
django-anymail[mailgun]
django-celery-beat
django-cors-headers
django-hijack
django-redis
django-redisboard
django-sesame
django_heroku
djlint
fal-client
google-cloud-recaptcha-enterprise
gunicorn
inference_sdk
pre-commit
psycopg2-binary
pytz
sendgrid
slack-bolt
slack-sdk
stripe
twilio