gunicorn
django_heroku
Django
django-allauth
psycopg2-binary
django-anymail[mailgun]
django-hijack
stripe
sendgrid
celery
celery[redis]
django-sesame
django-celery-beat
django-redis
boto3
google-cloud-recaptcha-enterprise
pytz
django-cors-headers
django-redisboard
daphne
slack-bolt
slack-sdk
twilio
channels
channels-redis
pre-commit
djlint
fal-client
inference_sdk
delete-your-pdf