{% load static %}
{% load static_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>{% include "../shared/head.html" %}</head>
    <body>
        {% include "../shared/notifications.html" %}
        <div class="container">
            {% include "../shared/top_nav.html" %}
            <div>
                <div role="group">
                    <div id="leftNav">{% include "./shared/side_nav.html" %}</div>
                    <div id="dashboardContent">Logged in Dashboard Home</div>
                </div>
            </div>
            {% include "../shared/footer.html" %}
        </div>
    </body>
</html>
