{% load static %}
{% load static_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "./shared/head.html" %}
    </head>
    <body>
        {% include "./shared/notifications.html" %}
        <div class="container">
          {% include "./shared/top_nav.html" %}
        
          <div>
            <h1>Delete Your PDF</h1>
            <h3>WARNING: Under active development, likely not working</h3>
            <h3>Please follow and check back later</h3>

            <div class="marginTop" id="videoSource">
              <div>
                  <!--<input type="file" id="uploadedImage" accept="image/*" onchange="showImage(event)">-->
                  <input type="file" id="uploadedImage" accept="*" onchange="showImage(event)">
              </div>
              <div id="runImageSingle">
                <button onclick="runInputImageSingle()">Run Page</button>
              </div>
              <div class="grid marginTop">
                  <div id="inputDiv">
                    <h3>Step 1</h3>
                    <div>Input Image</div>
                    <img id="step1" src="" />
                  </div>
                  <div id="outputDiv">
                    <h3>Step 2</h3>
                    <div>Output Text</div>
                    <textarea id="step2"></textarea>
                  </div>
              </div>
              <div class="grid marginTop">
                <div id="outputDiv">
                  <h3>Step 3</h3>
                  <div>Output Table</div>
                  <table id="step3" class="striped">
                    <thead data-theme="dark">
                      <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tr>
                      <th scope="row"></th>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row"></th>
                      <td></td>
                      <td></td>
                    </tr>
                  </table>
                </div>
                <div id="outputDiv">
                  <h3>Step 4</h3>
                  <div>Output Image</div>
                  <img id="step4" src="" />
                </div>
              </div>
              <div id="runImageAll">
                <button>Run all pages</button>
              </div>
            </div>
          </div>

          {% include "./shared/footer.html" %}
        </div>
        <script>
          function showImage(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const img = document.getElementById("step1");
                    img.src = e.target.result;
                    img.style.maxWidth = "100%";
                    img.style.height = "auto";
                    document.getElementById("runImageSingle").style.display = "block";
                    document.getElementById("runImageAll").style.display = "block";
                }
                reader.readAsDataURL(file);
            }
          }


          async function runInputImageSingle() {
              const fileInput = document.getElementById('uploadedImage');
              const imageFile = fileInput.files[0];
              const formData = new FormData();
              formData.append('file', imageFile);
              
              const response = await fetch("{% url 'sendInputImage' %}", {
                  method: 'POST',
                  body: formData,
              });
              
              if (!response.ok) {
                  throw new Error('Network response was not ok');
              }
              const data = await response.json();
              const textarea = document.getElementById("step2");
              textarea.value = data.texts[0];
              
              const img = document.getElementById("step4");
              img.src = data.pages[0];
              
          }
        </script>
    </body>
</html>
