{% load static %}
{% load static_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "./shared/head.html" %}
    </head>
    <body>
        {% include "./shared/notifications.html" %}
        <div class="container">
          {% include "./shared/top_nav.html" %}
        
          <div>
            <h1>Delete Your PDF</h1>
            <h3>WARNING: Under active development</h3>

            <div role="group" id="container">
              <div id="leftNav">
                <div class="scroll-container">
                  <div id="codeBlock" class="scrollable-content">
                    <h3>Code (Python)</h3>
                    <div>
                      Step 1 Install:
                    </div>
                    <div>
                      <code>pip install delete-your-pdf</code>
                    </div>
                  </div>
                </div>
              </div>

              <div class="marginTop" id="mainContent">
                <div id="step1Container">
                  <h3>Step 1</h3>
                  <div>
                    <input type="file" id="step1" accept="application/pdf" onchange="showImage(event)">
                  </div>
                  <div>
                    <button id="step1Button" onclick="runStep('1', '2', 'pdfToImagePages')">Convert PDF Page 1 to Image</button>
                  </div>
                </div>
                <div id="runImageAll">
                  <button>Run all pages</button>
                </div>
              </div>

            </div>
          </div>

          {% include "./shared/footer.html" %}
        </div>
        <script>

          var latestStep = 2;

          function showImage(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const img = document.getElementById("step1");
                    img.src = e.target.result;
                    img.style.maxWidth = "100%";
                    img.style.height = "auto";
                    document.getElementById("step1Button").style.display = "block";
                    //document.getElementById("runImageAll").style.display = "block";
                }
                reader.readAsDataURL(file);
            }
          }

          function handleOption(outputStep) {
            const select = document.getElementById("step" + outputStep + "Select");

            if (select.value == "cropRotate" || select.value == "ocr") {
              latestStep = latestStep + 1;
            }

            if (select.value == "cropRotate") {
              // TODO
              const newListItem = document.createElement('li');
              var innerHTML = '<button id="step' + outputStep + 'Button" onclick="runStep(\'' + outputStep + '\', \'' + latestStep + '\', \'cropRotate\')">Run Crop & Rotate</button> ';
              newListItem.innerHTML = innerHTML;
              document.getElementById("step" + outputStep + "Final").appendChild(newListItem);
            } else if (select.value == "ocr") {
              const newListItem = document.createElement('li');
              var innerHTML = '<button id="step' + outputStep + 'Button" onclick="runStep(\'' + outputStep + '\', \'' + latestStep + '\', \'ocr\')">Run OCR</button> ';
              newListItem.innerHTML = innerHTML;
              document.getElementById("step" + outputStep + "Final").appendChild(newListItem);
            } else if (select.value == "next") {
              const newListItem = document.createElement('li');
              var innerHTML = '<select id="step' + outputStep + 'Next" onchange="">';
              innerHTML = innerHTML + getOtherSteps();
              innerHTML = innerHTML + '</select>';
              newListItem.innerHTML = innerHTML;
              document.getElementById("step" + outputStep + "Final").appendChild(newListItem);
            }

            document.getElementById('step' + outputStep + 'FinalContainer').style.display = "block";

            select.selectedIndex = 0;
          }

          function getOtherSteps() {
            let mainDiv = document.getElementById('mainContent');
            let divs = mainDiv.getElementsByTagName('div');
            let result = "";
            for(let i=0; i<divs.length; i++){
              let idNum = parseInt(divs[i].id.replace(/[^0-9]/g, ''));
              if(!isNaN(idNum) && idNum > 2) {
                result = result + '<option value="' + idNum + '>Next Step ' + idNum + '</option>';
              }
            }
            if (result == "") {
              result = "<option>N/A (Add more steps)</option>";
            }
            return result;
          }


          async function runStep(inputStep, outputStep, command) {
            document.getElementById("step" + inputStep + "Button").disabled = true;
            document.getElementById("step" + inputStep + "Button").setAttribute('aria-busy', true);

            if (document.getElementById("step" + outputStep + "Container") != null) {
              document.getElementById("step" + outputStep + "Container").innerHTML = "";
              document.getElementById("step" + outputStep + "Code").innerHTML = "";
            }

            const formData = new FormData();
            formData.append("command", command);

              if(command == "pdfToImagePages") {
                const fileInput = document.getElementById("step" + inputStep);
                const file = fileInput.files[0];
                formData.append('file', file);
              } else if(command == "ocr") {
                const imageInput = document.getElementById("step" + inputStep).src;
                formData.append('image', imageInput);
              } else if(command == "cropRotate") {
                const imageInput = document.getElementById("step" + inputStep).src;
                formData.append('image', imageInput);
                // todo
                formData.append('x', x);
                formData.append('y', y);
                formData.append('width', width);
                formData.append('height', height);
                formData.append('rotation', rotation);
              }
              
              const response = await fetch("{% url 'runStep' %}", {
                  method: 'POST',
                  body: formData,
              });
              
              if (!response.ok) {
                  throw new Error('Network response was not ok');
              }
              const data = await response.json();

              if (document.getElementById("step" + outputStep + "Container") != null) {
                // Replace Step Section
                var innerHTML = '<div id="step2Container" class="marginTop">';
                if (command == "pdfToImagePages") {
                  innerHTML = innerHTML + '<div>';
                    innerHTML = innerHTML + '<h3>Step ' + outputStep + '</h3>';
                    innerHTML = innerHTML + '<div>PDF Page Image</div>';
                    innerHTML = innerHTML + '<img id="step' + outputStep + '" src="" />';
                  innerHTML = innerHTML + '</div>';
                  innerHTML = innerHTML + 'Add:';
                  innerHTML = innerHTML + '<select id="step' + outputStep + 'Select" onchange="handleOption(\'' + outputStep + '\')">';
                    innerHTML = innerHTML + '<option  value="selectOption">(Select Option)</option>';
                    innerHTML = innerHTML + '<option value="cropRotate">Crop & Rotate</option>';
                    innerHTML = innerHTML + '<option value="ocr">Get Text</option>';
                    innerHTML = innerHTML + '<option value="next">Send to existing Step</option>';
                  innerHTML = innerHTML + '</select>';
                } else if (command == "ocr") {
                  innerHTML = innerHTML + '<div>';
                    innerHTML = innerHTML + '<h3>Step ' + outputStep + '</h3>';
                    innerHTML = innerHTML + '<div>PDF Text</div>';
                    innerHTML = innerHTML + '<textarea id="step' + outputStep + '" /></textarea>';
                  innerHTML = innerHTML + '</div>';
                  innerHTML = innerHTML + 'Add:';
                  innerHTML = innerHTML + '<select id="step' + outputStep + 'Select" onchange="handleOption(\'' + outputStep + '\')">';
                    innerHTML = innerHTML + '<option  value="selectOption">(Select Option)</option>';
                  innerHTML = innerHTML + '</select>';
                } else if (command == "cropRotate") {

                  // todo
                  innerHTML = innerHTML + '<div>';
                    innerHTML = innerHTML + '<h3>Step ' + outputStep + '</h3>';
                    innerHTML = innerHTML + '<div>PDF Text</div>';
                    innerHTML = innerHTML + '<textarea id="step' + outputStep + '" /></textarea>';
                  innerHTML = innerHTML + '</div>';
                  innerHTML = innerHTML + 'Add:';
                  innerHTML = innerHTML + '<select id="step' + outputStep + 'Select" onchange="handleOption(\'' + outputStep + '\')">';
                    innerHTML = innerHTML + '<option  value="selectOption">(Select Option)</option>';
                  innerHTML = innerHTML + '</select>';
                }
                innerHTML = innerHTML + '</div>';
                innerHTML = innerHTML + '<div id="step' + outputStep + 'FinalContainer" class="finalContainer" class="marginTop"><ol id="step' + outputStep + 'Final"></ol></div>';
                document.getElementById("step" + outputStep + "Container").innerHTML = innerHTML;

              } else {
                // Add Step Section
                const container = document.getElementById('mainContent');
                const newDivContainer = document.createElement('div');
                newDivContainer.id = "step" + outputStep + "Container";
                newDivContainer.className = 'marginTop';
                var innerHTML = '<div id="step2Container" class="marginTop">';
                if (command == "pdfToImagePages") {
                  innerHTML = innerHTML + '<div>';
                    innerHTML = innerHTML + '<h3>Step ' + outputStep + '</h3>';
                    innerHTML = innerHTML + '<div>PDF Page Image</div>';
                    innerHTML = innerHTML + '<img id="step' + outputStep + '" src="" />';
                  innerHTML = innerHTML + '</div>';
                  innerHTML = innerHTML + 'Add:';
                  innerHTML = innerHTML + '<select id="step' + outputStep + 'Select" onchange="handleOption(\'' + outputStep + '\')">';
                    innerHTML = innerHTML + '<option  value="selectOption">(Select Option)</option>';
                    innerHTML = innerHTML + '<option value="cropRotate">Crop & Rotate</option>';
                    innerHTML = innerHTML + '<option value="ocr">Get Text</option>';
                    innerHTML = innerHTML + '<option value="next">Send to existing Step</option>';
                  innerHTML = innerHTML + '</select>';
                } else if (command == "ocr") {
                  innerHTML = innerHTML + '<div>';
                    innerHTML = innerHTML + '<h3>Step ' + outputStep + '</h3>';
                    innerHTML = innerHTML + '<div>PDF Text</div>';
                    innerHTML = innerHTML + '<textarea id="step' + outputStep + '" /></textarea>';
                  innerHTML = innerHTML + '</div>';
                  innerHTML = innerHTML + 'Add:';
                  innerHTML = innerHTML + '<select id="step' + outputStep + 'Select" onchange="handleOption(\'' + outputStep + '\')">';
                    innerHTML = innerHTML + '<option  value="selectOption">(Select Option)</option>';
                  innerHTML = innerHTML + '</select>';
                } else if (command == "cropRotate") {
                  // todo
                  innerHTML = innerHTML + '<div>';
                    innerHTML = innerHTML + '<h3>Step ' + outputStep + '</h3>';
                    innerHTML = innerHTML + '<div>PDF Text</div>';
                    innerHTML = innerHTML + '<textarea id="step' + outputStep + '" /></textarea>';
                  innerHTML = innerHTML + '</div>';
                  innerHTML = innerHTML + 'Add:';
                  innerHTML = innerHTML + '<select id="step' + outputStep + 'Select" onchange="handleOption(\'' + outputStep + '\')">';
                    innerHTML = innerHTML + '<option  value="selectOption">(Select Option)</option>';
                  innerHTML = innerHTML + '</select>';
                }
                innerHTML = innerHTML + '</div>';
                innerHTML = innerHTML + '<div id="step' + outputStep + 'FinalContainer" class="finalContainer" class="marginTop"><ol id="step' + outputStep + 'Final"></ol></div>';
                newDivContainer.innerHTML = innerHTML;
                container.appendChild(newDivContainer);
              }


              if (document.getElementById("step" + outputStep + "Code") != null) {
                var innerHTML = "Step " + outputStep + ":<div><code>";
                if(command == "pdfToImagePages") {
                  innerHTML = innerHTML + "result" + outputStep + " = pdfToImagePages(file=file, page_number=1)";
                } else if (command == "ocr") {
                  innerHTML = innerHTML + "result" + outputStep + " = imageToText_Roboflow(file=result" + inputStep + ", api_key=ROBOFLOW_API_KEY_HERE)";
                } else if (command == "cropRotate") {
                  // todo
                  innerHTML = innerHTML + "result" + outputStep + " = imageToText_Roboflow(file=result" + inputStep + ", api_key=ROBOFLOW_API_KEY_HERE)";
                }
                innerHTML = innerHTML + "</code></div>";
                document.getElementById("step" + outputStep + "Code").innerHTML = innerHTML;
              } else {
                // Add Code Block
                const codeBlock = document.getElementById('codeBlock');
                const newDivCodeblock = document.createElement('div');
                newDivCodeblock.id = "step" + outputStep + 'Code';
                newDivCodeblock.className = 'marginTop';
                var innerHTML = "Step " + outputStep + ":<div><code>";
                if(command == "pdfToImagePages") {
                  innerHTML = innerHTML + "result" + outputStep + " = pdfToImagePages(file=file, page_number=1)";
                } else if (command == "ocr") {
                  innerHTML = innerHTML + "result" + outputStep + " = imageToText_Roboflow(file=result" + inputStep + ", api_key=ROBOFLOW_API_KEY_HERE)";
                } else if (command == "cropRotate") {
                  // todo
                  innerHTML = innerHTML + "result" + outputStep + " = imageToText_Roboflow(file=result" + inputStep + ", api_key=ROBOFLOW_API_KEY_HERE)";
                }
                innerHTML = innerHTML + "</code></div>";
                newDivCodeblock.innerHTML = innerHTML;
                codeBlock.appendChild(newDivCodeblock);
              }


              // Add Result
              if(command == "pdfToImagePages" || command == "cropRotate") {
                const img = document.getElementById("step" + outputStep);
                img.src = data.result;
              } else if(command == "ocr") {
                const textarea = document.getElementById("step" + outputStep);
                textarea.value = data.result;
              }

              document.getElementById("step" + inputStep + "Button").setAttribute('aria-busy', false);
              document.getElementById("step" + inputStep + "Button").disabled = false;
              
          }
        </script>

        <script>
            var container = document.getElementById('container');
            var leftNav = document.getElementById('leftNav');
            var mainContent = document.getElementById('mainContent');
            
            var dragging = false;
            var containerWidth, leftNavWidth, dragHandleOffset;
            
            leftNav.addEventListener('mousedown', function (e) {
              dragging = true;
              
              containerWidth = container.offsetWidth;
              leftNavWidth = leftNav.offsetWidth;
              dragHandleOffset = e.clientX;
              
              document.addEventListener('mousemove', onMouseMove);
              document.addEventListener('mouseup', onMouseUp);
            });
            
            function onMouseMove(e) {
              if (!dragging) return;
              
              var dx = e.clientX - dragHandleOffset;
              var newLeftNavWidth = ((leftNavWidth + dx) * 100) / containerWidth;
              var newMainContentWidth = 100 - newLeftNavWidth;
              
              leftNav.style.width = newLeftNavWidth + '%';
              mainContent.style.width = newMainContentWidth + '%';
            }
            
            function onMouseUp() {
              dragging = false;
              
              document.removeEventListener('mousemove', onMouseMove);
              document.removeEventListener('mouseup', onMouseUp);
            }
        </script>
    </body>
</html>
