<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "../../shared/head.html" %}
        <title>Third-Party Login Failure</title>
    </head>
    <body>
        {% include "../../shared/notifications.html" %}
        <div class="container marginTop">
            {% include "../../shared/top_nav.html" %}
            <h1>Third-Party Login Failure</h1>
            <p>
                An error occurred while attempting to login via your third-party account.
            </p>

        </div>
        {% include "../../shared/footer.html" %}
    </body>
</html>