{% load static %}
{% load static_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "./shared/head.html" %}
    </head>
    <body>
        
        {% include "./shared/notifications.html" %}
        <div id="clock-overlay">
            <h1 class="wait">Looking over your loaf, please wait 1 meowment</h1>
            <div class="clock">
                <div class="clock__inner">
                    <ul class="clock__nums">
                        <li class="clock__num clock__num--1">
                            <span class="clock__num__text clock__num__text--1">1</span>
                        </li>
                        <li class="clock__num clock__num--2">
                            <span class="clock__num__text clock__num__text--2">2</span>
                        </li>
                        <li class="clock__num clock__num--3">
                            <span class="clock__num__text clock__num__text--3">3</span>
                        </li>
                        <li class="clock__num clock__num--4">
                            <span class="clock__num__text clock__num__text--4">4</span>
                        </li>
                        <li class="clock__num clock__num--5">
                            <span class="clock__num__text clock__num__text--5">5</span>
                        </li>
                        <li class="clock__num clock__num--6">
                            <span class="clock__num__text clock__num__text--6">6</span>
                        </li>
                        <li class="clock__num clock__num--7">
                            <span class="clock__num__text clock__num__text--7">7</span>
                        </li>
                        <li class="clock__num clock__num--8">
                            <span class="clock__num__text clock__num__text--8">8</span>
                        </li>
                        <li class="clock__num clock__num--9">
                            <span class="clock__num__text clock__num__text--9">9</span>
                        </li>
                        <li class="clock__num clock__num--10">
                            <span class="clock__num__text clock__num__text--10">10</span>
                        </li>
                        <li class="clock__num clock__num--11">
                            <span class="clock__num__text clock__num__text--11">11</span>
                        </li>
                        <li class="clock__num clock__num--12">
                            <span class="clock__num__text clock__num__text--12">12</span>
                        </li>
                    </ul>
                    <div class="clock__needles">
                        <div class="clock__needle clock__needle--hour" id="hour"></div>
                        <div class="clock__needle clock__needle--min" id="min"></div>
                        <div class="clock__needle clock__needle--sec" id="sec"></div>
                    </div>
                </div>
                <div class="cat">
                    <div class="cat__ears">
                        <div class="cat__ears__ear cat__ears__ear--left"></div>
                        <div class="cat__ears__ear cat__ears__ear--right"></div>
                    </div>
                    <div class="cat__whiskers">
                        <div class="cat__whiskers__whisker cat__whiskers__whisker--left">
                            <span></span>
                        </div>
                        <div class="cat__whiskers__whisker cat__whiskers__whisker--right">
                            <span></span>
                        </div>
                    </div>
                    <div class="cat__face">
                        <div class="cat__face__pattern cat__face__pattern--top"></div>
                        <div class="cat__face__pattern cat__face__pattern--left"></div>
                        <div class="cat__face__pattern cat__face__pattern--right"></div>
                        <div class="cat__eyes">
                            <div class="cat__eyes__eye cat__eyes__eye--left">
                                <div class="cat__eyes__eyelid cat__eyes__eyelid--left"></div>
                                <span></span>
                            </div>
                            <div class="cat__eyes__eye cat__eyes__eye--right">
                                <div class="cat__eyes__eyelid cat__eyes__eyelid--right"></div>
                                <span></span>
                            </div>
                        </div>
                        <div class="cat__nose"></div>
                        <div class="cat__mouth"></div>
                    </div>
                    <div class="cat__hands">
                        <div class="cat__hands__hand cat__hands__hand--left"></div>
                        <div class="cat__hands__hand cat__hands__hand--right"></div>
                    </div>
                    <div class="cat__legs">
                        <div class="cat__legs__leg cat__legs__leg--left"></div>
                        <div class="cat__legs__leg cat__legs__leg--right"></div>
                    </div>
                    <div class="cat__tail">
                        <div class="cat__tail__inner">
                            <span class="cat__tail__pattern cat__tail__pattern--1"></span>
                            <span class="cat__tail__pattern cat__tail__pattern--2"></span>
                            <span class="cat__tail__pattern cat__tail__pattern--3"></span>
                            <span class="cat__tail__pattern cat__tail__pattern--4"></span>
                            <span class="cat__tail__pattern cat__tail__pattern--5"></span>
                            <span class="cat__tail__pattern cat__tail__pattern--6"></span>
                            <span class="cat__tail__pattern cat__tail__pattern--7"></span>
                            <span class="cat__tail__pattern cat__tail__pattern--8"></span>
                            <span class="cat__tail__pattern cat__tail__pattern--9"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {% include "./shared/top_nav.html" %}
            <h1>Rate how well your cat sits like bread</h1>

            <i>Warning: This is not for sensitive cats</i>

            <div class="marginTop">
                <div id="drop">
                    Drop a cat loaf image here or <a href="#" onclick="document.getElementById('image_file').click()">Select a photo</a>
                </div>
                <input type="file"
                        value="Select Cat Loaf Picture"
                        id="image_file"
                        onchange="rateCatImage()"
                        accept="image/*" />
            </div>
            <div class="marginTop">
                <h3>The best loaves will rise to the top</h3>
            </div>

            <div>
                <div class="slideshow-container">

                    <div class="mySlides fade">
                        <a href="https://rateloaf.com/rate/sgsvqo/">
                            <h4 class="slideshowTitle">Chocolate/Vanilla loaf. 95/10.</h4>
                            <img src="https://rateloaf.s3.amazonaws.com/sgsvqo_cat_image_original.png" style="width:100%">
                            <h3 class="slideshowDescription">Whisker rolls, sleek slice, fur tastic rye.</h3>
                        </a>
                    </div>
                    
                    <div class="mySlides fade">
                        <a href="https://rateloaf.com/rate/cxtzdb/">
                            <h4 class="slideshowTitle">Purrfect loaf. 100/10.</h4>
                            <img src="https://rateloaf.s3.amazonaws.com/cxtzdb_blemish_1_image.png" style="width:100%">
                            <h3 class="slideshowDescription">Whisker rolls, sleek slice, fur tastic rye.</h3>
                        </a>
                    </div>
                    
                    <div class="mySlides fade">
                        <a href="https://rateloaf.com/rate/ajymad/"></a>
                            <h4 class="slideshowTitle">Kitten loaf. 90/10.</h4>
                            <img src="https://rateloaf.s3.amazonaws.com/ajymad_cat_image_original.png" style="width:100%">
                            <h3 class="slideshowDescription">Fluffy wheat bread. Pawsitively perfect.</h3>
                        </a>
                    </div>
                    
                    <div class="mySlides fade">
                        <a href="https://rateloaf.com/rate/tkdwhs/"></a>
                            <h4 class="slideshowTitle">Caramel loaf. 95/10.</h4>
                            <img src="https://rateloaf.s3.amazonaws.com/tkdwhs_blemish_2_image.jpg" style="width:100%">
                            <h3 class="slideshowDescription">Golden-crusted. Soft, cuddly crumb beyond compare.</h3>
                        </a>
                    </div>
                    
                    <div class="mySlides fade">
                        <a href="https://rateloaf.com/rate/wcmbpq/"></a>
                            <h4 class="slideshowTitle">Chunks of Nougat. 99/10.</h4>
                            <img src="https://rateloaf.s3.amazonaws.com/wcmbpq_blemish_2_image.png" style="width:100%">
                            <h3 class="slideshowDescription">Thick baguette. Pawsitive dough. Purrgonomic roll.</h3>
                        </a>
                    </div>
                    
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                    
                </div>
                
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span> 
                    <span class="dot" onclick="currentSlide(2)"></span> 
                    <span class="dot" onclick="currentSlide(3)"></span> 
                    <span class="dot" onclick="currentSlide(4)"></span> 
                    <span class="dot" onclick="currentSlide(5)"></span> 
                </div>
            
            </div>
            <div class="marginTop">
                I was at my local Coney Island bar commenting how poorly this cat was sitting and unhappy. I didn't want to be spending my life like this. I used to have <a href="https://dropofahat.zone/">ambitions</a>. There had to be more in store for me.
            </div>
            <div class="marginTop">
                <img src="{% static 'images/me.png'|local_static:APP_DIRECTORY %}"
                        alt=""
                        width="400" />
            </div>
            <div class="marginTop">
                This sent me on a deep introspective journey to remote, exotic places like Jackson Heights and even Flushing. I saw more sitting cats. I scoured the internet. More cats. Look at the huge influx of photos at: <a href="https://www.reddit.com/r/Catloaf/">https://www.reddit.com/r/Catloaf/.</a> There are countless unanswered posts by desperate people.
            </div>
            <div class="marginTop">
                People say Artificial Intelligence will mold every apect of our lives and yet large amounts of the internet is still manually rating cat loaves. Every day the rate of cat pictures is far surpassing the number of qualified loaf judgers and this discrepancy is only going to get more crumby as time goes on.
            </div>
            <div class="marginTop">
                <img src="{% static 'images/catgraph.png'|local_static:APP_DIRECTORY %}"
                        alt=""
                        width="400" />
            </div>
            <div>
                <i>Cat photos on the internet in billions increases exponentially every year</i>
            </div>
            <div class="marginTop">
                So here is how you rate your cat loaf faster with Artificial Intelligence. I'll just step through it. Say we upload this fresh loaf.
            </div>
            <div class="marginTop">
                <img src="{% static 'images/cat0.png'|local_static:APP_DIRECTORY %}"
                        alt=""
                        width="400" />
            </div>
            <div class="marginTop">
                First it gets sent to Yolov8 Segmentation Model. YOLO is an opensource model and pretty good at recognizing common objects like cats. It tries to see if there is any in the image at all and highlight it.
            </div>
            <div class="marginTop">
                <img src="{% static 'images/cat1.jpeg'|local_static:APP_DIRECTORY %}"
                        alt=""
                        width="400" />
            </div>
            <div class="marginTop">
                Looks like a pure bread! So now we can run the next model on it and try to find the impurrfections. We remove everything outside the highlighted cat loaf so the next model has a better chance of working. This way it won't have any false positives with furniture or other things. Also, it looks cool.
            </div>
            <div class="marginTop">
                Then we send it to YOLO-World, another open source model that is more flexible with the types of items it tries to find. Everyone knows bad loaves have paws and tails sticking out so I gave it the classes "paws" and "tails" and it tries to look for them. It's finding paws and tails, but it's just circling the entire cat. This model is beginning to look half baked.
                <div class="marginTop">
                    <img src="{% static 'images/cat6.png'|local_static:APP_DIRECTORY %}"
                            alt=""
                            width="400" />
                </div>
                <div class="marginTop">
                    I got it to perform better but adding a third class "cat". The model now separates out a cat from a Paw or Tail and narrows down its focus. You can find more info on why that works here: <a href="https://blog.roboflow.com/yolo-world-prompting-tips/">https://blog.roboflow.com/yolo-world-prompting-tips/</a>
                </div>
                <div class="marginTop">
                    <img src="{% static 'images/cat3.png'|local_static:APP_DIRECTORY %}"
                            alt=""
                            width="400" />
                </div>
                <div class="marginTop">
                    Those sure are impurrfections but some are just the spots on the cat, not its paws. Time to look at the confidence levels for a bunch of photos and see where the false positives tend to start. After looking at a dozen photos, I determine it's sometimes but not always around 0.00031% confidence.
                </div>
                <div class="marginTop">
                    You may be thinking, that is ridiculously low, who could trust that amount of confidence? YOLO-World is just built different. The level of confidence it needs to be reliable is extremely low.
                </div>
                <div class="marginTop">
                    <img src="{% static 'images/cat2.png'|local_static:APP_DIRECTORY %}"
                            alt=""
                            width="400" />
                </div>
                <div class="marginTop">
                    We spotted the impurrfections correctly now. From there, it's just some simple logic. If I find any paws with "0.00031" confidence I'll just show those, otherwise I'll just show whatever is found. Sometimes science is just banging pots together until something useful happens.
                </div class="marginTop">
                <div>
                    Finally, I throw in a call to OpenAI's GPT4v to comment on what it saw. Their model can't detect images so I can draw nice circles like YOLO can but it's got some good cat loaf adjectives and puns for rating.
                </div>
                <div class="marginTop">
                    <img src="{% static 'images/cat4.png'|local_static:APP_DIRECTORY %}"
                            alt=""
                            width="400" />
                </div>
                <div class="marginTop">
                    In total, we intertwined 3 different state of the art AI models to automatically rate your loaf accurately.
                </div>
                <div class="marginTop">
                    <img src="{% static 'images/workflow.png'|local_static:APP_DIRECTORY %}"
                            alt=""
                            width="400"
                            style="width:100%">
                </div>
                <div class="mb-4">
                    <i>The <a href="https://roboflow.com/workflows/build">workflow</a> that runs when you upload an image (Roboflow)</i>
                </div>
                <div>
                    The next natural step is towards training the model on cat jaw lines. Some teenagers on the street told me if we can detect this reliable there are methods to fix it.
                </div>
                <div class="marginTop">
                    <img src="{% static 'images/mewing.png'|local_static:APP_DIRECTORY %}"
                            alt=""
                            width="400">
                </div>
            </div>
        </div>
        <script src="{% static 'js/catclock.js'|local_static:APP_DIRECTORY %}"></script>
        <script>
          (function() {
            var drop = document.getElementById('drop');
            if(!drop.addEventListener) return;
            
            function handleDrop(e) {
                e.stopPropagation();
                e.preventDefault();

                // Ensure there are files received.
                if (e.dataTransfer.files.length > 0) {
                    getSignedRequest(e.dataTransfer.files[0]);
                }
                else {
                    console.log("No files received.");
                }
            }
            
            function handleDragover(e) {
                e.stopPropagation();
                e.preventDefault();
                e.dataTransfer.dropEffect = 'copy';
            }
            
            drop.addEventListener('dragenter', handleDragover, false);
            drop.addEventListener('dragover', handleDragover, false);
            drop.addEventListener('drop', handleDrop, false);
          })();                


          function rateCatImage() {
            var files = document.getElementById("image_file").files;
            var file = files[0];
            getSignedRequest(file);
          }

          function getSignedRequest(file){
            document.getElementById("clock-overlay").style.display = "block";
            var xhr = new XMLHttpRequest();
            var url = "{% url 'sign_s3' %}?file_name="+file.name+"&file_type="+file.type;
            xhr.open("GET", url);
            xhr.onreadystatechange = function(){
                if(xhr.readyState === 4){
                if(xhr.status === 200){
                    var response = JSON.parse(xhr.responseText);
                    uploadFile(file, response.data, response.url, response.unique_name);
                }
                }
            };
            xhr.send();
          }

          function uploadFile(file, s3Data, url, unique_name){
            var xhr = new XMLHttpRequest();
            xhr.open("POST", s3Data.url);
            
            var postData = new FormData();
            for(key in s3Data.fields){
                postData.append(key, s3Data.fields[key]);
            }
            postData.append('file', file);
            
            xhr.onreadystatechange = function() {
                if(xhr.readyState === 4){
                if(xhr.status === 200 || xhr.status === 204){
                    sendIt(unique_name);
                }
            }
            };
            xhr.send(postData);
          }

        function sendIt(unique_name) {
            const pingServer = async () => {
                try {
                    const response = await fetch("/check/" + unique_name + "/");
                    const data = await response.json();
                if (data.is_rated && data.is_rated == true) {
                    clearInterval(stopInterval);
                    window.location = "/rate/" + unique_name;
                }
                } catch (error) {
                    console.error('Error:', error);
                }
            };

            stopInterval = setInterval(pingServer, 1000);
        }


        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) {
                slideIndex = 1
            }  
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
        }

        setInterval(function(){ plusSlides(1); }, 2500);

        </script>
        {% include "./shared/footer.html" %}
    </body>
</html>
