html, body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

canvas {
    position: absolute;
    z-index: 1;
}

video {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 100% !important;
  }

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
}

#top {
    margin-bottom: 25px;
}

#gameStateText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
    position: fixed;
    z-index: 10;
    
    width: 80%;
    height: 50%;
    
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;
    font-size: 3em;

    color: white;
    text-shadow: -1px -1px 0 #000,  
         1px -1px 0 #000,
         -1px 1px 0 #000,
         1px 1px 0 #000;
}


@media screen and (max-width: 600px) {
  #gameStateText {
    margin-top: 170px;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    background: #000000;
    color: white;
}

#winnerText {
    color: #FFD700;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #FF0000, 3px 3px 5px #0000FF;
    text-align: center;
    padding: 50px;
    margin: 0 auto;
    margin-top: 100px;
    animation: glow 2s ease-in-out infinite;

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    z-index: 100;
    
    width: 50%;
    height: 50%;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;
    font-size: 4em;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700, 0 0 40px #FFD700;
    }
    50% {
        text-shadow: 0 0 20px #FFD700, 0 0 30px #FFD700, 0 0 40px #FFD700, 0 0 50px #FFD700, 0 0 60px #FFD700;
    }
    100% {
        text-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700, 0 0 40px #FFD700;
    }
}

#webcam {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s;
    border-radius: 5px;
    outline: none;
    color: #fff;
    background-color: #3e8e41;
    border: none;
  }

  #joinStranger {
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s;
    border-radius: 5px;
    outline: none;
    color: #fff;
    background-color: #3e8e41;
    border: none;
  }
  
  #webcam:hover {
    background-color: #4CAF50;
  }
  
  #webcam:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #explanation {
    margin-bottom: 20px;
  }

  #remoteVideo {
    display: none;
  }

  #videoMove_other {
    position: absolute; 
    z-index: 5; 
    top: 300px;
    left: 60%;
    text-align: center; 
    font-size: 40px; 
    color: #fff;
  }

  #videoMove_you {
    position: absolute; 
    top: 300px;
    left: 100px;
    z-index: 5; 
    text-align: center; 
    font-size: 40px; 
    color: #fff;
  }

  #fullRoom {
    display: none;
  }

  a {
    color: white;
  }
  
  #shareLink {
    font-weight: bold;
  }

  #findOpponent {
    display: none;
  }

  .homepage {
    margin-bottom: 20px;
  }

  .textContainer {
    padding: 20px;
  }

  .media {
    max-width: 600px;
    width: 80%;
  }