{% load static %}
{% load static_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "./shared/head.html" %}
    </head>
    <body>
        {% include "./shared/notifications.html" %}
        <div class="container">
          {% include "./shared/top_nav.html" %}
        
          <div>
            <h1>Signedin Template</h1>

            <div>Front Page</div>
            {% include "./shared/contact.html" %}
            {% include "./shared/contact_captcha.html" %}
          </div>

          {% include "./shared/footer.html" %}
        </div>
    </body>
</html>



    