.marginTop {
  margin-top: 15px;
}

.centerAlign {
  text-align: center;
}

.centerMargins {
  margin-left: auto;
  margin-right: auto;
}

.notificationBackground {
  color: white;
  margin-bottom: 2px;
}

.notificationBackground li {
  color: white;
}

.notificationMessage {
  margin-left: 25px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.notificationExit {
  margin-right: 10px;
}

.notificationExitButton {
  width: 40px;
}


.notificationBackground-debug {
  background-color: #00895A;
}

.notificationBackground-info {
  background-color: #6F7887;
}

.notificationBackground-success {
  background-color: #3C71F7;
}

.notificationBackground-warning {
  background-color: #D9C800;
}

.notificationBackground-error {
  background-color: #D93526;
}

.topNavRight {
  margin-right: 0px !important;
}

.topNavRight:hover {
  cursor: pointer;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.youtubeIcon {
  width: 35px;
  height: 30px;
}

.twitterIcon {
  width: 35px;
  height: 30px;
}

.noLinkDecoration {
  color: #373c44;
  text-decoration: none;
}

.navButtonLink {
  margin-left: -5px;
}

#drop{
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 20px;
  width: 400px;
  font: 20pt bold,"Vollkorn";
  color: #bbb;
  text-align: center;
}

.wait {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  color: white;
  width: 70%;
}

.mySlides {
  display: none;
  text-align: center;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 600px;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.slideshowDescription {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  bottom: 3px;
  width: 100%;
}

.slideshowTitle {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.IN-widget {
  margin-bottom: 5px !important;
}


.image-container {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.perfection-container {
  position: relative;
  width: 400px;
  height: 200px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  color: white;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
  letter-spacing: 5px;
  font: 20px 'MisoRegular';
  padding: 10px;
  max-width: 80%;
  text-align: center;
  font-family: 'Comic Sans MS';
}

.blemish {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  font-size: 18px;
  max-width: 80%;
  text-align: center;
}

.description {
  width: 400px;
  color: white;
  padding: 10px;
  font-size: 18px;
  background-color: gray;
  max-width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Comic Sans MS';
  text-shadow: 2px 2px 8px #000;
}

.perfection {
  width: 300px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
  letter-spacing: 5px;
  font: 20px 'MisoRegular';
  padding: 30px;
  max-width: 80%;
  text-align: center;
  font-family: 'Comic Sans MS';
}

.clearance-tape {
  padding: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background: repeating-linear-gradient(
      -45deg,
      #f2a417,
      #f2a417 15px,
      #141617 15px,
      #141617 30px
  );
}