{% load static %}
{% load form_tags %}
{% load static_tags %}
{% load allauth account %}
<!DOCTYPE html>
<html lang="en">
    <head>{% include "../shared/head.html" %}</head>
    <body>
        {% include "../shared/notifications.html" %}
        <div class="container marginTop">
            {% include "../shared/top_nav.html" %}
            <h1>Account Inactive</h1>
            <p>This account is inactive.</p>
            {% include "../shared/footer.html" %}
        </div>
    </body>
</html>
