{% load static %}
{% load allauth account %}
{% load form_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>{% include "../shared/head.html" %}</head>
    <body>
        <div class="container marginTop">
            {% include "../shared/top_nav.html" %}
            <h1>Enter Sign-In Code</h1>
            <p>We’ve sent a code to <a href="mailto:{{ email }}">{{ email }}</a>. The code expires shortly, so please enter it soon.</p>
            <form method="post" action="{% url 'account_confirm_login_code' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div>
                    {{ form.code.label_tag }} {{ form.code }}
                    {{ form.code.errors }}
                </div>
                {{ redirect_field }}
                <button type="submit">Sign In</button>
            </form>
            <h2>
                <a href="{% url 'account_login' %}">Other sign-in options</a>
            </h2>
            {% include "../shared/footer.html" %}
        </div>
    </body>
</html>