{% load static %}
{% load allauth account %}
<!DOCTYPE html>
<html lang="en">
    <head>{% include "../shared/head.html" %}</head>
    <body>
        {% include "../shared/notifications.html" %}
        <div class="container marginTop">
            {% include "../shared/top_nav.html" %}
            <h1>Enter Email Verification Code</h1>
            <p>We’ve sent a code to <a href="mailto:{{ email }}">{{ email }}</a>. The code expires shortly, so please enter it soon.</p>
            <form method="post" action="{% url 'account_email_verification_sent' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="form-field {% if field.errors %}has-error{% endif %}">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                {{ redirect_field }}
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
            <h2>
                <a href="{{ cancel_url }}" class="cancel-link">Cancel</a>
            </h2>
            {% include "../shared/footer.html" %}
        </div>
    </body>
</html>