{% load static %}
{% load form_tags %}
{% load static_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>{% include "../shared/head.html" %}</head>
    <body>
        {% include "../shared/notifications.html" %}
        <div class="container marginTop">
            {% include "../shared/top_nav.html" %}

            <div id="dashboardContainer">
                <div id="leftNav">
                    {% include "../signedin/shared/side_nav.html" %}
                </div>
                <div id="dashboardContent">
                    <div>List Groups</div>
                </div>
            </div>
        </div>
        {% include "../shared/footer.html" %}
    </body>
</html>
