{% load static %}
{% load static_tags %}
{% load form_tags %}
{% load allauth account %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
    <head>{% include "../shared/head.html" %}</head>
    <body>
        {% include "../shared/notifications.html" %}
        <div class="container marginTop">
            {% include "../shared/top_nav.html" %}

            <div id="dashboardContainer">
                <div id="leftNav">
                    {% include "../signedin/shared/side_nav.html" %}
                </div>
                <div id="dashboardContent">
                    <section class="app-card">
                        <h1 class="title is-size-4">Sign out</h1>
                        <p class="subtitle">{% trans "Are you sure you want to sign out?" %}</p>
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            {% if redirect_field_value %}
                                <input type="hidden"
                                       name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}" />
                            {% endif %}
                            <div class="field is-grouped">
                                <div class="control">
                                    <input class="button is-primary" type="submit" value="Sign Out">
                                    <a class="button is-primary is-outlined" href="{% url 'home' %}">
                                        <span class="icon">
                                            <i class="fa fa-home"></i>
                                        </span>
                                        <span>Home</span>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>

        </div>
        {% include "../shared/footer.html" %}
    </body>
</html>
