{% load static %}
{% load form_tags %}
{% load static_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>{% include "../shared/head.html" %}</head>
    <body>
        {% include "../shared/notifications.html" %}
        <div class="container marginTop">
            {% include "../shared/top_nav.html" %}

            <div class="left-menu-container">
                <div class="left-side-menu">
                    {% include "../signedin/shared/side_nav.html" %}
                </div>
                <div class="right-side-content">
                    <div>Manage Group</div>
                </div>
            </div>

        </div>
        {% include "../shared/footer.html" %}
    </body>
</html>
