{% load static %}
{% load static_tags %}
{% load account %}
{% load form_tags %}
{% load allauth account %}
<!DOCTYPE html>
<html lang="en">
    <head>{% include "../shared/head.html" %}</head>
    <body>
        {% if request.GET.e %}
            <h3>Create Password</h3>
        {% else %}
            <h3>Password Reset</h3>
        {% endif %}
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        {% if request.GET.e %}
            <p class="lead">Thanks for signing up! Press the button below to send your password creation email.</p>
        {% else %}
            <p class="lead">
                Forgot your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
            </p>
        {% endif %}
        <form method="post"
              action="{% url 'account_reset_password' %}"
              class="password_reset">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% render_field form.email %}
            <input class="btn btn-primary" type="submit" value='Send Password Reset'>
            <p class="mt-2 text-muted">Please contact us if you have any trouble resetting your password.</p>
        </form>
        <script>document.getElementById('id_email').value = decodeURI("{{ request.GET.e }}");</script>
        {% include "../shared/footer.html" %}
    </body>
</html>
