{% load static %}
{% load allauth account %}
{% load form_tags %}
{% load static_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>{% include "../shared/head.html" %}</head>
    <body>
        <div class="container marginTop">
            <h1>Set Password</h1>
            {% url 'account_set_password' as action_url %}
            {% element form method="post" action=action_url %}
                {% slot body %}
                {% csrf_token %}
                {{ redirect_field }}
                {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
        {% element button type="submit" name="action" %}
        Set Password
        {% endelement %}
        {% endslot %}
        {% endelement %}
        {% include "../shared/footer.html" %}
    </div>
</body>
</html>
