{% load static %}
{% load form_tags %}
{% load static_tags %}
{% load allauth account %}
<!DOCTYPE html>
<html lang="en">
    <head>{% include "../shared/head.html" %}</head>
    <body>
        {% include "../shared/notifications.html" %}
        <div class="container marginTop">
            {% include "../shared/top_nav.html" %}
            <h3>
                {% if token_fail %}
                    Bad Token
                {% else %}
                    Change Password
                {% endif %}
            </h3>
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>The password reset link was invalid, possibly because it has already been used.</p>
                <p>
                    Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
                </p>
                <p>Or send a magic login link to your email. This will let you login without entering a password.</p>
                <div class="mt-4 text-center">
                    <form method="post" action="{% url 'send_magic_link' %}">
                        {% csrf_token %}
                        <input class="form-control"
                            type="email"
                            name="email"
                            size="30"
                            placeholder="E-mail address"
                            required=""
                            id="id_email">
                        <button class="btn btn-primary mt-3" type="submit">Send Magic Login Link</button>
                    </form>
                </div>
            {% else %}
                {% if form %}
                    <form method="post" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% render_field form.password1 %}
                        {% render_field form.password2 %}
                        <input class="btn btn-primary" type="submit" value='Change Password'>
                    </form>
                {% else %}
                    <p>Your password is now changed.</p>
                {% endif %}
            {% endif %}
            {% include "../shared/footer.html" %}
        </div>
    </body>
</html>
