{% load static %}
{% load form_tags %}
{% load static_tags %}
{% load allauth account %}
<!DOCTYPE html>
<html lang="en">
    <head>{% include "../shared/head.html" %}</head>
    <body>
        <div class="container marginTop">
            {% include "../shared/top_nav.html" %}
            <h1 class="title is-size-4">Change Password</h1>
            <div class="content">
                <p>Your password has been changed.</p>
                <p>
                    {% url 'account_login' as login_url %}
                    You can now <a href="{{ login_url }}">login</a> with your new password.
                </p>
            </div>
            {% include "../shared/footer.html" %}
        </div>
    </body>
</html>
