{% load static %}
{% load allauth account %}
{% load form_tags %}
{% load static_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>{% include "../shared/head.html" %}</head>
    <body>
        <div class="container marginTop">
            {% include "../shared/top_nav.html" %}
            <h1>Set Password</h1>
            <form method="post" action="{% url 'account_set_password' %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-field {% if field.errors %}has-error{% endif %}">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                {{ redirect_field }}
                <button type="submit" name="action">Set Password</button>
            </form>
            {% include "../shared/footer.html" %}
        </div>
    </body>
</html>
