{% load account %}
{% load static %}
{% load form_tags %}
{% load static_tags %}
{% load allauth account %}
<!DOCTYPE html>
<html lang="en">
    <head>{% include "../shared/head.html" %}</head>
    <body>
        {% include "../shared/notifications.html" %}
        <div class="container">
            {% include "../shared/top_nav.html" %}

            <div class="left-menu-container">
                <div class="left-side-menu">
                    {% include "../signedin/shared/side_nav.html" %}
                </div>
                <div class="right-side-content">
                    <section class="app-card">
                        <h3 class="lead">Change Password</h3>
                        <form method="post"
                              action="{% url 'account_change_password' %}"
                              class="password_change">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {% render_field form.oldpassword %}
                            {% render_field form.password1 %}
                            {% render_field form.password2 %}
                            <input class="btn btn-primary" type="submit" value='Change Password'>
                        </form>
                    </section>
                </div>
            </div>

        </div>
        {% include "../shared/footer.html" %}
    </body>
</html>
