{% load account %}
{% load static %}
{% load form_tags %}
{% load static_tags %}
{% load allauth account %}
<!DOCTYPE html>
<html lang="en">
    <head>{% include "../shared/head.html" %}</head>
    <body>
        <h3>Password Reset</h3>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="lead">We've sent you an e-mail. Please get in touch if you do not receive it within a few minutes.</p>
        {% include "../shared/footer.html" %}
    </body>
</html>
