
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "../shared/head.html" %}
</head>
<body>
    <div class="container marginTop">
        {% include "../shared/top_nav.html" %}
        <h1>Confirm Access</h1>
        <p>Please reauthenticate to safeguard your account.</p>
        <p>Enter your password:</p>

        <form method="post" action="{% url 'account_reauthenticate' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field {% if field.errors %}has-error{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                    {% for error in field.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            {{ redirect_field }}

            <button type="submit" class="btn btn-primary reauthenticate">
                Confirm
            </button>
        </form>

        {% if reauthentication_alternatives %}
            <hr />
            <h2>Alternative options</h2>
            <div class="btn-group">
                {% for alt in reauthentication_alternatives %}
                    <a href="{{ alt.url }}" class="btn btn-outline-primary">
                        {{ alt.description }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        {% include "../shared/footer.html" %}
    </div>
</body>
</html>