{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "../shared/head.html" %}
</head>
<body>
    <div class="container marginTop">
        {% include "../shared/top_nav.html" %}
        <h1>Mail me a sign-in code</h1>
        <p>You will receive an email containing a special code for a password-free sign-in.</p>
        
        <form method="post" action="{% url 'account_request_login_code' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field {% if field.errors %}has-error{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                    {% for error in field.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            {{ redirect_field }}
            <button type="submit" class="button prominent">Request Code</button>
        </form>

        

        <h2>
            <a href="{% url 'account_login' %}" class="button link">Other sign-in options</a>
        </h2>
        
        {% include "../shared/footer.html" %}
    </div>
</body>
</html>