{% load static %}
{% load form_tags %}
{% load static_tags %}
{% load allauth account %}
<!DOCTYPE html>
<html lang="en">
    <head>{% include "../shared/head.html" %}</head>
    <body>
        {% include "../shared/top_nav.html" %}
        {% include "../shared/notifications.html" %}
        <h3>Verify Your E-mail Address</h3>
        <p>
            We have sent an e-mail to you for verification.
            Follow the link provided to finalize the signup process.
        </p>
        <p>Please contact us if you do not receive it within a few minutes.</p>
        {% include "../shared/footer.html" %}
    </body>
</html>
